.Weather {
  border: 1px solid #5f939a;
  border-radius: 5px;
  padding: 16px;
}

.Weather h1 {
  color: #d8ac9c;
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  color: #000;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -32px;
  margin-left: 3px;
}
